{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oil Painting Generator</title>

    <script>

        var before_paint = "{% static 'images/base/img23.jpg' %}"
        var after_paint = "{% static 'images/base/img24.jpg' %}"
        var transition = "{% static 'images/transition/perlin_noise.png' %}"

    </script>

    <!--#region main  Scripts Area -->
    
    <!-- Script reading order 
        1. three js
        2. gsap js
        3. hover-effect js
        4. app js
    -->
    
    <!-- three js 스크립트 -->

    {% comment %} <script crossorigin defer type="module" src="{% static 'js/Earth.js' %}"></script> {% endcomment %}

    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js" 
            integrity="sha512-dLxUelApnYxpLt6K2iomGngnHO83iUvZytA3YjDUCjT0HDOHKXnVYdf3hU4JjM8uEhxf9nD1/ey98U3t2vZ0qQ==" 
            crossorigin="anonymous" 
            referrerpolicy="no-referrer"></script>

    <!-- gsap js 스크립트 -->

    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js" 
            integrity="sha512-H6cPm97FAsgIKmlBA4s774vqoN24V5gSQL4yBTDOY2su2DeXZVhQPxFK4P6GPdnZqM9fg1G3cMv5wD7e6cFLZQ==" 
            crossorigin="anonymous" 
            referrerpolicy="no-referrer"></script>
    
    {% block extrahead %}

    <!-- hover-effect js script -->

    <link rel="stylesheet" href="{% static 'css/transition.css' %}">

    <script defer src="{% static 'js/hover-effect.umd.js' %}"></script>

    <!-- app js script -->

    <script defer src="{% static 'js/app.js' %}"></script>

    {% endblock %}

     <!--#endregion -->

</head>
<body>
    <section>
        <div class="container">
            <div class="info">
                <div class="file-upload">
                    <input type="file" id="file">
                    <button class="btnClick" onclick="save()">Generate</button>
                </div>
                <h3>Make your own oil paint image.</h3>
                <br>
                <p>The Web machine recognize what you want to change to artists painting style and make it your own images.</p>
            </div>
            <div class="img">
            </div>

        </div>
    </section>
    <script>
        const container = document.querySelector('.container');
        for (var i = 0; i <= 70; i++) {
            const blocks = document.createElement('div');
            blocks.classList.add('box');
            container.appendChild(blocks);
        }
    </script>
    <script src="{% static 'js/anime.min.js' %}"></script>
    <script src="{% static 'js/background.js' %}"></script>
</body>
</html>