{% load static %}
<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>무료 유화제작 사이트</title>

    <script>
        var before_paint = "{% static 'images/base/img23.jpg' %}"
        var after_paint = "{% static 'images/base/img24.jpg' %}"
        var transition = "{% static 'images/transition/perlin_noise.png' %}"
    </script>

    <!--#region main  Scripts Area -->

    <!-- Script reading order 
        1. three js
        2. gsap js
        3. hover-effect js
        4. app js
    -->

    <!-- three js 스크립트 -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"
        integrity="sha512-dLxUelApnYxpLt6K2iomGngnHO83iUvZytA3YjDUCjT0HDOHKXnVYdf3hU4JjM8uEhxf9nD1/ey98U3t2vZ0qQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- gsap js 스크립트 -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"
        integrity="sha512-H6cPm97FAsgIKmlBA4s774vqoN24V5gSQL4yBTDOY2su2DeXZVhQPxFK4P6GPdnZqM9fg1G3cMv5wD7e6cFLZQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    {% block extrahead %}

    <!-- hover-effect js script -->

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <script defer src="{% static 'js/hover-effect.umd.js' %}"></script>

    <!-- app js script -->

    <script defer src="{% static 'js/app.js' %}"></script>

    {% endblock %}

    <!--#endregion -->

</head>

<body>
    <div class="container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="first-slide sections">
                    <span>해드림!</span>
                    <!-- ***** 로고 제작이 된다면 이 곳에 넣고 수정하면 됩니다. ***** -->
                    <!-- <img src="/" alt="로고" /> -->
                    <span>유화 제작을 무료로 해드립니다! <strong>(유료 유화제작 별도)</strong></span>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="second-slide">
                    <div class="second-slide-span">
                        <span>이미지를 명화처럼 바꿔드립니다!</span>
                        <span>우측의 이미지에 포인터를 가져가면 예시를 확인할 수 있습니다.</span>
                    </div>
                    <div class="img">
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="third-slide sections">
                    <span>한 번 바꿔보세요!</span>
                    <p>왼쪽의 공간에 <strong>드래그 앤 드롭</strong>으로 이미지를 놓아주세요.</p>
                    <!-- ***** 기존의 파일 업로드 방식입니다. ***** -->
                    <!-- <div class="file-upload">
                        <input type="file" id="file">
                        <button class="btnClick" onclick="save()">Generate</button>
                    </div> -->
                    <div class="group">
                        <div class="content">
                        </div>
                        <button class="btnClick" onclick="save()">Generate</button>
                        <!-- ***** 이 부분은 테스트 용도로 작업의 결과물이 올라갈 공간입니다. ***** -->
                        <div class="test-box">
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="fourth-slide sections">
                    <span>더 많은 유화제작을 이용하고 싶으신가요?</span>
                    <div class="test-banner" style="font-size: 20px;">
                        <p>1번 배너</p>
                        <p>2번 배너</p>
                    </div>
                    <p>이 사이트는 <strong>유료제작</strong> 사이트입니다.</p>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/file.js' %}"></script>
</body>

</html>